*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: white;
    display: inline-flexbox;
}
.navbar {
    text-align: center;
    background-color: rgb(214, 210, 210);
}

.navbar h1{
    font-family: sans-serif;
    color: rgb(87, 87, 86);
    padding: 15px;
}

.namehead{
    margin-top:1%;
    text-align: center;
}

.namehead h1{
    padding: 20px;
    background-color: rgb(232, 255, 242);
    display: inline-block;
    border-radius: 40px;
    color: rgb(91, 91, 93);
}

.namehead p{
    background-color: aquamarine;
    padding: 10px;
}

.myimg {
    background-color: bisque;
    display: inline-block;
    margin-left: 5%;
    padding: 10px;
}

.myimg img{
    width: 250px;
    border-radius: 150px;
}