@media screen and (max-width: 767px)
{
    #topbuttons {
        display: none;
    }

}
@media screen and (max-width: 900px)
{
    #topbuttons {
        font-size: smaller;
    }
}
@media screen and (max-width: 600px)
{
    #profilepic {
        width: 150px;
    }
}

@media screen and (min-width: 600px)
{
    #profilepic {
        width: 200px;
    }
}

@media screen and (max-width: 818px)
{
    #headname {
        text-align: center;
    }

    #subhead{
        text-align: inherit;
    }
}

#hamlogo {
    width: 35px;
}


@media screen and (max-width: 1141px) {
    #profsumsection{
        margin-top: 35px;
        margin-left: 10px;
    }
    #edutable{
        margin-left: 10px;
    }
}